@font-face {
  font-family: neo;
  src: url("../font/neo-sans.tff");
}

@font-face {
  font-family: jet;
  src: url("../font/jetbrains.tff");
}


body {
  text-align: justify !important;
  font-family: jet !important;
}

img {
  width: 80% !important;
}


img.logos {
  width: 90px !important;
  padding-bottom: 2em !important;
}

.bg-near-white {
  background-color: white;
}

pre, pre code {
  font-size: 0.90em;
}

.f1{
  font-family: neo;
}

.f5 {
  font-size: 0.8em;
}
.f4{
  font-family: neo;
  font-size: 1.0em;
}
